/* visualization.css */

/* Style the header */
header {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Style the container */
  #visualizationContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the chart canvas */
  #champagneChart {
    max-width: 100%;
    margin: 20px 0;
  }
  