/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(37, 42, 50);
}

header {
    background-color: rgb(37, 42, 50);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(37, 42, 50);
    
}

.map-container {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    margin-top: 30px;
}

.data-section {
    margin-top: 20px;
}

/* Style the footer */
footer {
    background-color: rgb(37, 42, 50);
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Center the image horizontally, limit its maximum width and maximum height */
#map-image {
    max-width: 50%;
    max-height: 45%; /* Adjust this value as needed */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

#map-display {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    max-height: 80vh;        /* Adjust this value as needed */
    background-color: rgb(37, 42, 50); /* Set the background color */
    margin-top: -80px;
}

.map-selector {
    color: white; /* Replace with your desired text color code */
    background-color: rgb(37, 42, 50);
    position: fixed;
    right: 10px;
}

/* Styles for smaller screens (e.g., phones) */
@media (max-width: 768px) {
    #map-display {
        margin-top: 60px; /* Adjust this value to move the maps further down on smaller screens */
    }

    /* Increase the size of the maps on smaller screens */
    #map-image {
        max-width: 100%; /* Maintain responsiveness */
        max-height: 60vh; /* Adjust this value for the desired size */
    }
}
