:root {
    --royal-yellow: #fce486;
    --dark-yellow: #f5e069;
    --dark-blue: #123281;
    --light-blue: #4d94ef;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-yellow) ;
    margin: 0;
}



header {
    background-color: var(--dark-yellow);
}

.intro-container {
    width: 80%;
    margin: 0 auto;
    color: var(--dark-blue);
}

.top-bar {
    background-color: var(--dark-yellow);
    color: darkblue;
    padding: 10px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 5vh; /* Use the full viewport height */
}

.brand {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}


menu {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.menu a {
    display: inline-block; /* or use inline */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    filter: brightness(95%); /* Make the button color darker */
}

.menu a:hover {
    box-shadow:  rgba(0,0,0,0.3); /* Slightly larger shadow on hover */
    background-color: var(--dark-yellow) /* Slightly darker background on hover */
}

.dropdown {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: inline-block; /* or use inline */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow:  rgba(0,0,0,0.3); /* Slightly larger shadow on hover */
}

.dropdown a {
    display: inline-block; /* or use inline */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.dropdown a:hover {
    box-shadow:  rgba(0,0,0,0.3); /* Slightly larger shadow on hover */
    /* background-color: var(--dark-yellow) /* Slightly darker background on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #555555;
    min-width: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content-title {
    color: var(--dark-blue);
    font-weight: bolder;
}

.container {
    margin-top: 100px;
}

.analysis-content {
    /*height: 500px;*/
    align-items: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.container-graph {
    display: block;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container-title {
    font-size: 1em;
    text-align: left;
}

.normal-text {
    font-weight: normal;
    text-align: left;

}

.link-button {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: inherit;
}

content-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-bottom: 10px;
}


.download-button {
    text-decoration: none;
    color: inherit;
}
