:root {
    --royal-yellow: #fce486;
    --dark-yellow: #f5e069;
    --dark-blue: #123281;
    --light-blue: #4d94ef;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--royal-yellow) ;
}

header {
    background-color: var(--royal-yellow);
}

.intro-container {
    width: 80%;
    margin: 0 auto;
    color: var(--dark-blue);
}

.top-bar {
    background-color: var(--dark-yellow);
    color: darkblue;
    padding: 10px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    margin-bottom: 10px;
}

.brand {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a:hover {
    background-color: #777;
}

.content-title {
    color: var(--dark-blue);
    font-weight: bolder;
}

.analysis-content {
    /*height: 500px;*/
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.container-graph {
    width: 70%; align-items: center;
}

.container-title {
    font-size: 1em;
    text-align: left;
}

.normal-text {
    font-weight: normal;
    text-align: left;
    
}